* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right bottom, #9BC7CB , #8CEDC1 );
  font-family: Source Sans Pro;
}

.pokemonList {
  column-count:3;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.pokemonList>li {
  display: flex;
  flex: 0 0 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pokemon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 32px;
}

.name-button {
  width: 30rem;
  padding: 2rem;
  border-radius: .8rem;
  color: var(--light);
  background: var(--background);
  box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, 0.3);
}

.name-button:hover {
  background-color: #E6F3F0 ;
  color: #296879;
  border-color: black;
}

#modal-container {
  display: block;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: block;

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}
.modal {
  position: flex;
  left: 50%;
  top: 50%;
  margin: auto;
  display: block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  height: 16px;
  text-decoration: underline;
  float: right;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

@media all and (max-width: 720px) {
  .pokemon-list>li {
    flex: 0 0 20%;
  }
}
