body {
  background: linear-gradient(to right bottom, #9BC7CB , #8CEDC1 );
  text-align: center;
}

:root{
  --light: linear-gradient(to right bottom, #9BC7CB , #8CEDC1 );
  --background: linear-gradient(to right bottom, #9BC7CB , #E6F3F0 );
}

.pokemonList {
  column-count:3;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.pokemonList>li {
  display: 100%;
  flex: 0 0 30%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.img-element {
  height: 250px;

}
.name-button {
  padding: 2rem;
  border-radius: .8rem;
  color: var(--light);
  background: var(--background);
  box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, 0.3);
}

.name-button:hover {
  background-color: #E6F3F0 ;
  color: #296879;
  border-color: black;
}

@media all and (max-width: 720px) {
  .pokemonList>li {
    flex: 0 0 30%;
  }
}
